@import "@fontsource/inter/index.css";

body, #body {
  background-color: rgba(0, 0, 0, 0.959);
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
  z-index: 0;
  height: 100%;
  margin: 0;
  font-family: 'Inter';
}

.fondo-destello {
  position: fixed;
  top: 90%;
  left: 10%;
  width: 95%;
  height: 80px;
  background: linear-gradient(transparent, #1fd75f88, transparent);
  filter: blur(90px);
  opacity: 0.9;
  pointer-events: none;
  z-index: -1;
}

.Pagina {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.Layout {
  display: flex;
  flex: 1;
  height: 100vh;
}

.seccion-favoritas {
  margin-bottom: 2rem;
}

.seccion-artistas {
  margin-bottom: 2rem;
}

.encabezado-seccion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem 1rem 1rem;
}

.titulo-seccion {
  position: relative;
  left: 10vh;
  color: #ffffff;
  text-align: left;
  margin: 24px 0 8px 24px;
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Inter'; 
}

.link-ver-todo {
  font-size: 1.3rem;
  text-decoration: none;
  color: #ffffff;
  transition: color 0.2s ease;
  font-family: 'Inter';
}

.link-ver-todo:hover {
  color: #1ed760;
  text-decoration: underline;
}

.cancion-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

/* Estilo para agregar canciones */
.agregar-cancion {
  position: fixed;
  bottom: 5vh;
  background-color: #111;
  color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  max-width: 500px;
}

.agregar-cancion input {
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  background-color: #222;
  color: #eee;
}

.agregar-cancion button {
  background-color: #1db954;
  border: none;
  padding: 0.6rem 1.2rem;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.agregar-cancion button:hover {
  background-color: #17a44b;
}
 /*eliminar canciones */
 .cancion-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.btneliminar {
  position: absolute;
  background-color: #e03e3e;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.3rem 0.6rem;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

.btneliminar:hover {
  background-color: #b53030;
}
